body{
    font-family: 'Sriracha', cursive;
    font-size:  20px;
    color: brown;
    background: beige;
}
#info{
    position: relative;
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: bisque;
    border-radius: 13px;
    
}
#imgcontainer{
    text-align: center;
}