


























/*Responsive web design*/
@media(max-width: 500px){
   body{
       flex-direction: column;
    width: 60%;
    height: 60%;
        
}
#Bills{
    font-size: 15px;
}
}